<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165127245672-62ru4co5i304j0njqu6q2cot0foajs63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165127245672-62ru4co5i304j0njqu6q2cot0foajs63</string>
	<key>API_KEY</key>
	<string>AIzaSyDZHEtnZjc-HUMHnUu18FjRnM-3G9knBx0</string>
	<key>GCM_SENDER_ID</key>
	<string>165127245672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GrupoZonica.RadioZonica</string>
	<key>PROJECT_ID</key>
	<string>radio-zonica</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-zonica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:165127245672:ios:5d1aff534f1f46ca</string>
	<key>DATABASE_URL</key>
	<string>https://radio-zonica.firebaseio.com</string>
</dict>
</plist>
